In [1]:
from runner import experiment

Jupyter environment detected. Enabling Open3D WebVisualizer.
[Open3D INFO] WebRTC GUI backend enabled.
[Open3D INFO] WebRTCWindowSystem: HTTP handshake server disabled.

In [2]:
my_expirments = experiment("conf1.yaml")

{'data': [['data_test\\group8_1\\RPf_00059_gt.ply', 'data_test\\group8_1\\RPf_00060_gt.ply']], 'rotation': {'x': [0], 'y': [0], 'z': [0]}, 'translation': {'x': [0], 'y': [0], 'z': [0]}, 'piplines': [{'name': ['pipline_1'], 'para1': [15], 'para2': array([2.64003646, 2.37888993]), 'para3': [1, 10, 5], 'para4': array([1., 6.])}], 'tests': [['ICP_test']], 'evaluation': ['rms']}

In [3]:
my_expirments.run()

  0%|          | 0/12 [00:00<?, ?it/s]

In [4]:
my_expirments.results

,obj1,obj2,pipeline,params,R & T,test,status
0,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.6400364561791703, 1, 6.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
1,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.6400364561791703, 10, 6.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
2,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.6400364561791703, 10, 1.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
3,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.6400364561791703, 1, 1.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
4,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.6400364561791703, 5, 6.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
5,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.6400364561791703, 5, 1.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
6,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.3788899257797698, 1, 6.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
7,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.3788899257797698, 1, 1.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
8,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.3788899257797698, 10, 6.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
9,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.3788899257797698, 10, 1.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
10,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.3788899257797698, 5, 6.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed
11,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 2.3788899257797698, 5, 1.0)","((0, 0, 0), (0, 0, 0))",ICP_test,Failed