In [1]:
from runner import experiment

Jupyter environment detected. Enabling Open3D WebVisualizer.
[Open3D INFO] WebRTC GUI backend enabled.
[Open3D INFO] WebRTCWindowSystem: HTTP handshake server disabled.

In [2]:
my_expirments = experiment("conf1.yaml")

{'data': [['data_test\\group8_1\\RPf_00059_gt.ply', 'data_test\\group8_1\\RPf_00060_gt.ply']], 'rotation': {'x': [0], 'y': [1.14], 'z': [0.6]}, 'translation': {'x': [0], 'y': [10], 'z': array([13.23832812,  1.75779741,  4.08085494])}, 'piplines': [{'name': ['pipline_1'], 'para1': [15], 'para2': array([67.54715332, 41.88379175, 99.99256821]), 'para3': [2], 'para4': [2]}], 'tests': [['ICP_test']], 'evaluation': ['rms', 'new_eval']}

In [3]:
my_expirments.run()

  0%|          | 0/9 [00:00<?, ?it/s]

In [4]:
my_expirments.results

,obj1,obj2,pipeline,params,R & T,test,R_error,T_error,eval1,eval2,transformation,status
0,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 41.88379174675724, 2, 2)","((0, 1.14, 0.6), (0, 10, 13.238328124081171))",ICP_test,4.384462,23.238328,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
1,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 67.54715331783176, 2, 2)","((0, 1.14, 0.6), (0, 10, 1.757797408155591))",ICP_test,4.384462,11.757797,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
2,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 67.54715331783176, 2, 2)","((0, 1.14, 0.6), (0, 10, 13.238328124081171))",ICP_test,4.384462,23.238328,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
3,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 99.99256821125354, 2, 2)","((0, 1.14, 0.6), (0, 10, 13.238328124081171))",ICP_test,4.384462,23.238328,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
4,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 41.88379174675724, 2, 2)","((0, 1.14, 0.6), (0, 10, 1.757797408155591))",ICP_test,4.384462,11.757797,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
5,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 41.88379174675724, 2, 2)","((0, 1.14, 0.6), (0, 10, 4.080854942052792))",ICP_test,4.384462,14.080855,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
6,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 67.54715331783176, 2, 2)","((0, 1.14, 0.6), (0, 10, 4.080854942052792))",ICP_test,4.384462,14.080855,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
7,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 99.99256821125354, 2, 2)","((0, 1.14, 0.6), (0, 10, 1.757797408155591))",ICP_test,4.384462,11.757797,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success
8,data_test\group8_1\RPf_00059_gt.ply,data_test\group8_1\RPf_00060_gt.ply,pipline_1,"(15, 99.99256821125354, 2, 2)","((0, 1.14, 0.6), (0, 10, 4.080854942052792))",ICP_test,4.384462,14.080855,-1,-1,"[[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...",success