In [8]:
import helper
import transforms3d
from copy import deepcopy,copy
import random

import open3d as o3d
import numpy as np
from copy import copy
import helper
import numpy as np
from Fragment import FeatureLines
from tqdm import tqdm
import open3d as o3d
import numpy as np
import pandas as pd
import re
import open3d as o3d
def make_picture(pcd1,pcd2,fig_name):
    vis = o3d.visualization.Visualizer()
    
    vis.create_window()
    vis.add_geometry(pcd1)
    vis.add_geometry(pcd2)
    ctr = vis.get_view_control()
    ctr.change_field_of_view(step=90)
    vis.poll_events()
    vis.update_renderer()
    vis.capture_screen_image(fig_name)
    vis.destroy_window()
def my_error(name,RM_ground,result_transformation):


    def change_angle(angle):
        if angle < 0:
            angle = angle + np.pi
        return angle%np.pi
    change_my_angle = np.vectorize(change_angle)

    T_ground, R_ground, _, _ = transforms3d.affines.decompose44(RM_ground)
    R_result = R_ground

    T_result, R_result, _, _ = transforms3d.affines.decompose44(result_transformation)
    R_result = R_result
    
    
    
    r_oa = R_ground 
    r_ob = R_result 

    r_oa_t = np.transpose(r_oa)
    r_ab = np.dot(r_oa_t, r_ob)
    
    from scipy.spatial.transform import Rotation as R
    r = R.from_matrix(r_ab)
    R_error3 = (np.sqrt(np.square(r.as_euler('xyz',degrees=True))))

    R_error2 = np.rad2deg(np.arccos((np.trace(r_ab) - 1) / 2))


    R_error = (np.sqrt(np.square(R_ground - R_result)))
    # T_Matrix = inv[:3,3]
    T_error = (np.sqrt(np.square(T_ground - T_result)))
    Total  = (np.sqrt(np.sum(np.square(T_ground - T_result))))
    # print("Rotation",R,inv[0:3,0:3])
    # print("Transalation",T,T_Matrix)
    error = name + " & "
    for i,r_error in enumerate(np.round(R_error3,3)):
        error += str(r_error)+" & "
    print("Rot ->", error + "&" + str(np.round((np.sqrt(np.sum(np.square(R_error3)))),3)))
    error = name + " & " 
    for i,t_error in enumerate(np.round(T_error,3)):
        error += str(t_error)+" & "
    print("TRANS ->", error + "&" + str(np.round((np.sqrt(np.sum(np.square(T_error)))),3)))
    print(Total)
    return {"R_error":np.round(R_error3,3),"T_error":np.round(T_error,3)}


def change_rotation_translation(pcd,init_R_T):
    R,T = init_R_T
    RM = pcd.get_rotation_matrix_from_xyz((R[0], R[1], R[2]))
    pcd.rotate(RM, center=(0, 0, 0))
    pcd.translate((T[0], T[1], T[2]))
    return pcd
def error_with_vs_without(url1,url2,name,init_R_T):
    error = pd.read_csv(f"results/breaking_bad/{name}/error.csv")
    best = error.iloc[error["T_error"].idxmin()]
    print("R :",str(best["T_error"]))
    output = best["transformations"]
    best_transformation = get_transformation(output)
    
    
    pcd1,tree = helper.load_mesh(url1)
    pcd2,tree = helper.load_mesh(url2)
    R,T = init_R_T
    RM_trial = np.eye(4)
    RM = pcd2.get_rotation_matrix_from_xyz(R)
    RM_trial[:3, :3] = RM
    RM_trial[0, 3] = T[0]
    RM_trial[1, 3] = T[1]
    RM_trial[2, 3] = T[2]
    RM_ground = np.linalg.inv(RM_trial)
    pcd2 = change_rotation_translation(copy(pcd2),init_R_T)
#     make_picture(pcd1,pcd2,"results/breaking_bad/"+name+"_before.jpg")
    pcd2_after = copy(pcd2)
    pcd2_after.transform(best_transformation)
#     make_picture(pcd1,pcd2_after,"results/breaking_bad/"+name+"_after.jpg")
    o3d.visualization.draw_geometries([pcd1, pcd2_after])
    target = pcd1
    source = pcd2
    init_trans = np.eye(4)
    # init_trans[:3, :3] = tf_param.rot

    result_icp_2 = o3d.pipelines.registration.registration_icp(
            source,target,5000,init_trans,
            o3d.pipelines.registration.TransformationEstimationPointToPoint(with_scaling =False),
            o3d.pipelines.registration.ICPConvergenceCriteria(max_iteration=5000))
    result_transformation  = result_icp_2.transformation
    pcd2.transform(result_transformation)
    o3d.visualization.draw_geometries([target, source])
    return my_error(name,RM_ground,result_transformation), my_error(name,RM_ground,best_transformation)
    
def get_transformation(output):
    transformation = [[float(number) for number in re.findall(r"[-+]?(?:\d*\.*\d+)", in_list)] for in_list in output.split("\n")]
    return transformation

In [9]:
objects = [
 { "name":"mirror_fractured","init_R_T":((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),"Obj1_url":"data_test/breaking_bad/mirror/7fe270a9cb7621ed157bba5da16c1cd3/mode_1/piece_0.obj",
"Obj2_url":"data_test/breaking_bad/mirror/7fe270a9cb7621ed157bba5da16c1cd3/mode_1/piece_1.obj"}
]

In [ ]:
objects =[{"name": "mug_fractured_73", "init_R_T": [[0.2, 0.2, 0.1], [-0.5, -0.5, -0.5]], "Obj1_url": "data_test/breaking_bad/mug\\fractured_73\\piece_0.obj", "Obj2_url": "data_test/breaking_bad/mug\\fractured_73\\piece_1.obj"}]

In [10]:
for obj in objects:
    Obj1_url = obj["Obj1_url"]
    Obj2_url = obj["Obj2_url"]
    init_R_T = obj["init_R_T"]
    error_with_vs_without(Obj1_url,Obj2_url,obj["name"],init_R_T)
    print("\n\n\n")

R : 0.0014133401278678
Rot -> mirror_fractured & 0.132 & 0.562 & 0.136 & &0.593
TRANS -> mirror_fractured & 0.002 & 0.0 & 0.503 & &0.503
0.5027583384289226
Rot -> mirror_fractured & 0.108 & 0.012 & 0.023 & &0.111
TRANS -> mirror_fractured & 0.0 & 0.001 & 0.001 & &0.001
0.0014133384932817883

In [ ]:
df = pd.read_csv("results/results.csv")
asd = df.groupby(['obj1', 'obj2'])["Total_error"].idxmin()
df.iloc[asd][['obj1', 'obj2',"R & T","R_error","T_error","Total_error"]]

In [ ]:
objects = [{ "name":"test_brick_1","number":68,"init_R_T":((0.2, 0.2, 0.1), (4, 0.6, 1))},
 { "name":"test_brick_2","number":180,"init_R_T":((0.2, 0.2, 0.1), (0.01, 0.01, 0.01))},
 { "name":"test_15_1","number":384,"init_R_T":((0.2, 0.2, 0.1), (0.1, 0.1, 0.1))},
 { "name":"test_15_2","number":273,"init_R_T":((0.2, 0.2, 0.1), (0.1, 0.1, 0.1))},
 { "name":"test_15_3","number":521,"init_R_T":((0.2, 0.2, 0.1), (0.1, 0.1, 0.1))},
 { "name":"test_15_4","number":455,"init_R_T":((0.2, 0.2, 0.1), (0.1, -0.1, 0.1))},
 { "name":"test_breaking_1","init_R_T":((0.2, 0.2, 0.1), (-1, -1, 2)),"Obj1_url":"data_test/pairwise/breaking_bad_cat_artifact_pair1/breaking_bad_cat_artifact_piece1.ply",
"Obj2_url":"data_test/pairwise/breaking_bad_cat_artifact_pair1/breaking_bad_cat_artifact_piece3.ply"},
  { "name":"test_breaking_2","init_R_T":((0.2, 0.2, 0.1), (-1, -1, 2)),"Obj1_url":"data_test/pairwise/breaking_bad_cat_artifact_pair2/breaking_bad_cat_artifact_piece2.ply",
"Obj2_url":"data_test/pairwise/breaking_bad_cat_artifact_pair2/breaking_bad_cat_artifact_piece3.ply"},
 { "name":"test_breaking_3","init_R_T":((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),"Obj1_url":"data_test/pairwise/breaking_bad_statue_pair1/breaking_bad_cat_statue_piece1.ply",
"Obj2_url":"data_test/pairwise/breaking_bad_statue_pair1/breaking_bad_cat_statue_piece2.ply"}
]

In [ ]:
objects = [
 { "name":"test_breaking_3","init_R_T":((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),"Obj1_url":"data_test/samples/fractured_5/piece_0.obj",
"Obj2_url":"data_test/samples/fractured_5/piece_0.obj"}
]

In [ ]:
objects =[{'name': 'BeerBottle_fractured_4',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/BeerBottle_fractured_4\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/BeerBottle_fractured_4\\origina2.ply'},
 {'name': 'breaking_bad_WineBottle_fractured_14',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/breaking_bad_WineBottle_fractured_14\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/breaking_bad_WineBottle_fractured_14\\origina2.ply'},
 {'name': 'breaking_bad_WineBottle_fractured_3',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/breaking_bad_WineBottle_fractured_3\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/breaking_bad_WineBottle_fractured_3\\origina2.ply'},
 {'name': 'Cookie_fractured_46',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/Cookie_fractured_46\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/Cookie_fractured_46\\origina2.ply'},
 {'name': 'Cookie_fractured_52',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/Cookie_fractured_52\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/Cookie_fractured_52\\origina2.ply'},
 {'name': 'Cookie_fractured_70',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/Cookie_fractured_70\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/Cookie_fractured_70\\origina2.ply'},
 {'name': 'DrinkBottle_fractured_62',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/DrinkBottle_fractured_62\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/DrinkBottle_fractured_62\\origina2.ply'},
 {'name': 'DrinkBottle_fractured_70',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/DrinkBottle_fractured_70\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/DrinkBottle_fractured_70\\origina2.ply'},
 {'name': 'PillBottle_fractured_40',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/PillBottle_fractured_40\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/PillBottle_fractured_40\\origina2.ply'},
 {'name': 'PillBottle_fractured_62',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/PillBottle_fractured_62\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/PillBottle_fractured_62\\origina2.ply'},
 {'name': 'WineBottle_fractured_3',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/WineBottle_fractured_3\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/WineBottle_fractured_3\\origina2.ply'},
 {'name': 'WineBottle_fractured_30',
  'init_R_T': ((0.2, 0.2, 0.1), (-0.5, -0.5, -0.5)),
  'Obj1_url': 'results/breaking_bad/WineBottle_fractured_30\\origina1.ply',
  'Obj2_url': 'results/breaking_bad/WineBottle_fractured_30\\origina2.ply'}]

In [4]:
for obj in objects:
    if "_".join(obj["name"].split("_")[:2]) == "test_breaking":
        Obj1_url = obj["Obj1_url"]
        Obj2_url = obj["Obj2_url"]
    else:
        Obj1_url = df.iloc[obj["number"]]["obj1"]
        Obj2_url = df.iloc[obj["number"]]["obj2"]
    init_R_T = obj["init_R_T"]
    error_with_vs_without(Obj1_url,Obj2_url,obj["name"],init_R_T)

NameError: name 'df' is not defined

In [ ]:
number = 455
Obj1_url = df.iloc[number]["obj2"]
Obj2_url = df.iloc[number]["obj1"]
init_R_T = ((0.2, 0.2, 0.1), (0.1, -0.1, 0.1))

In [ ]:
error_with_vs_without(Obj1_url,Obj2_url,"test_breaking_2",init_R_T)

In [ ]:
sum(np.asarray([0.061, 0.11 , 0.039]))

In [ ]:
results

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data_test/rotational.csv")

In [5]:
df

,Unnamed: 0,Objects,R_x,R_y,R_z,R_total,R_x.1,R_y.1,R_z.1,R_total.1
0,0,CatArtifact_fracture_1,45.142,56.615,103.035,204.792,0.046,2.238,0.747,3.031
1,1,CatArtifact_fracture_2,178.172,9.078,24.624,211.874,0.137,0.433,0.355,0.925
2,2,Statue_fracture_1,3.916,24.066,77.600,105.582,0.334,0.223,0.099,0.656
3,3,BeerBottle_fractured_4,9.251,9.282,38.495,57.028,0.197,0.472,0.952,1.621
4,4,WineBottle_fractured_14,3.594,13.149,41.779,58.522,0.263,0.300,1.462,2.025
5,5,WineBottle_fractured_3,0.941,1.196,1.285,3.422,0.370,0.578,1.257,2.205
6,6,Cookie_fractured_46,6.884,1.958,2.111,10.953,1.715,0.724,1.736,4.175
7,7,Cookie_fractured_52,32.559,0.708,7.865,41.132,0.142,0.130,0.279,0.551
8,8,Cookie_fractured_70,4.969,8.738,4.763,18.470,0.069,0.849,0.238,1.156
9,9,DrinkBottle_fractured_62,2.535,1.045,7.007,10.588,0.089,0.029,0.199,0.317
10,10,DrinkBottle_fractured_70,66.707,3.267,38.943,109.917,0.332,0.564,3.274,3.463
11,11,PillBottle_fractured_40,125.854,73.257,98.337,297.448,1.053,0.572,0.104,1.729
12,12,PillBottle_fractured_62,83.671,15.852,22.913,122.436,0.260,0.188,0.308,0.756
13,13,WineBottle_fractured_30,27.886,16.812,8.040,52.738,0.085,0.209,0.209,0.503
14,14,Vas_fractured_5,12.737,10.015,8.004,30.756,0.253,0.303,0.036,0.592
15,15,cup_fractured_71,91.511,19.508,21.657,132.676,0.427,0.116,0.471,1.014
16,16,mug_fractured_73,0.095,4.965,0.867,5.041,0.738,0.832,0.054,1.114

In [6]:
df['Object'] = df['Objects'].str.split('_').str[0]
df.groupby('Object').mean('T.total')

,Unnamed: 0,R_x,R_y,R_z,R_total,R_x.1,R_y.1,R_z.1,R_total.1
Object,,,,,,,,,
BeerBottle,3.000000,9.2510,9.282000,38.495000,57.028000,0.197000,0.472000,0.9520,1.621000
CatArtifact,0.500000,111.6570,32.846500,63.829500,208.333000,0.091500,1.335500,0.5510,1.978000
Cookie,7.000000,14.8040,3.801333,4.913000,23.518333,0.642000,0.567667,0.7510,1.960667
DrinkBottle,9.500000,34.6210,2.156000,22.975000,60.252500,0.210500,0.296500,1.7365,1.890000
PillBottle,11.500000,104.7625,44.554500,60.625000,209.942000,0.656500,0.380000,0.2060,1.242500
Statue,2.000000,3.9160,24.066000,77.600000,105.582000,0.334000,0.223000,0.0990,0.656000
Vas,14.000000,12.7370,10.015000,8.004000,30.756000,0.253000,0.303000,0.0360,0.592000
WineBottle,7.333333,10.8070,10.385667,17.034667,38.227333,0.239333,0.362333,0.9760,1.577667
cup,15.000000,91.5110,19.508000,21.657000,132.676000,0.427000,0.116000,0.4710,1.014000
mug,16.000000,0.0950,4.965000,0.867000,5.041000,0.738000,0.832000,0.0540,1.114000

In [ ]:
df